:root {
  --btn-width: 4rem;
  --btn-height: 5rem;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: 500;
  background-color: rgb(155, 236, 236);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: 700;
}

p {
  margin: 1.4rem;
}

#calculator {
  background-color: rgb(207, 207, 207);
  border: 3px ridge gray;
  box-shadow: 5px 5px 5px darkgray;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(var(--btn-height) * 6.5);
  width: calc(var(--btn-width) * 5);
}

.row {
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;
  margin: 10px 0;
}

.row1 {
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;
  margin: 10px 0;
}

.buttons, #output, #clear {
  background-color: white;
  border: 1px solid gray;
  width: var(--btn-width);
  height: var(--btn-height);
  text-align: center;
  border-radius: 8px;
}

.buttons {
  margin: 0 0.4rem;
}

#output {
  width: 75%;
  margin: 0 0.4rem;
}

#clear {
  margin: 0 0.4rem;
}